.wp-login {
    height: 100vh;
    background: rgb(34, 193, 195);
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    font-family: "work sans";
    .login-container {
        border: 1px solid black;
        width: 400px;
        height: 100%;
        margin: 0 auto;
    }
    .login-content {
        padding: 15px;
    }
}